.forms-block{
  border-bottom: 1px solid $gallery;
  p{
    color: $gray-appx;
  }
}

.forms-list{
  @extend %listreset;

  li{
    display: flex;
    flex-flow: row wrap;

    &.titles-holder{
      border-bottom: 3px solid $fountain-blue;
      padding: 10px 30px;
    }
  }

  a{
    text-decoration: none;
    padding: 10px 30px;
    color: $dark;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid $gallery;
    &:hover{
      background: $cinderella;

      .submit{
        color: $flamingo;
        text-decoration: underline;
      }
    }
  }

  .status{
    width: 28%;
    display: block;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;

    &.under-review{
      span{
        background: $marzipan;
      }
    }

    &.completed{
      span{
        background: $aero-blue;
      }
    }

    &.pending{
      span{
        background: $linen;
        color: $flamingo;
      }
    }

    span{
      display: inline-block;
      padding: 5px;
      border-radius: 15px;
      width: 87px;
      text-align: center;
    }
  }

  .submit{
    width: 20%;
    display: block;
  }

  .title{
    width: 52%;
    display: block;

    &.title-2{
      width: 28%;
    }

    &.title-3{
      width: 20%;
    }
  }
}


.form{
  
  .custom-file{
    border: 1px solid $alto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    height: 37px;

    .custom-file-input{
      width: 100%;
      flex-grow: 1;
      background: $white;
      
    }

    label{
      margin: 0;
      width: 72px;
      padding: 10px 0;
      flex-shrink: 0;
      text-align: center;
      border-left: 1px solid $alto;
      cursor: pointer;
      color: $gray-cahteau;
      background: $aqua-haze-appx;
    }
  }

  label{
    color: $oslo-gray;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .form-group{
    margin-bottom: 10px;
  }

  .form-control{
    border: 1px solid $alto;
    border-radius: 5px;
    background: $white;
    padding: 10px;
    color: $dark;
  }

  .info-icon-holder{
    margin-bottom: 5px;
    svg{
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .fill-info-btn{
    margin-bottom: 15px;
    a{
      text-decoration: none;
      display: block;
      color: $oslo-gray;
      font-weight: bold;
      text-align: center;
      border: 1px solid $alto;
      border-radius: 5px;
      background: $white;
      padding: 10px;
    }
  }

  .btns-list{
    @extend %listreset;
    display: flex;
    flex-flow: row wrap;
    margin: 15px -32px 20px;

    li{
      width: 50%;
      padding: 0 32px;
    }

    button{
      width: 100%;
      border: none;
      background: $oslo-gray;
      color: $white;
      font-weight: bold;
      border-radius: 5px;
      padding: 10px 10px;
      text-transform: capitalize;
      cursor: pointer;
      &:hover{
        background: darken($oslo-gray , 5%);
      }
    }
  }

  .btn-holder{
    button{
      width: 146px;
      background: $white;
      &:hover{
        background: $primary;
      }
    }
  }
}