.progress-bars-list{
  @extend %listreset;
  margin-top: 20px;

  li{
    padding: 0 0 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .title{
    display: block;
    width: 110px;
    flex-shrink: 0;
    padding-right: 10px;
  }

  .progress{
    width: 100%;
    flex-grow: 1;
    border-radius: 15px;
  }

  .progress-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
    line-height: 12px;
    border-radius: 15px;
    white-space: nowrap;
    height: 18px;
    
    &.bg-completed{
      background: $caribbean-green;
    }

    &.bg-pending{
      background: $cinnabar;
    }

    &.bg-review{
      background: $dixie;
    }
  }
}