//custom variables

$primary                                    : #f15d3a;
$orange                                     : #FA7268;
$dark                                       : #212529;
$white                                      : #fff;
$black                                      : #000000;
$alice-blue                                 : #f2faff;
$flamingo                                   : #f15d3a;
$gallery                                    : #efefef;
$gray-appx                                  : #8e8e8e;
$fountain-blue                              : #53afbe;
$marzipan                                   : #f7e19b;
$aero-blue                                  : #d2fdea;
$linen                                      : #fae5e4;
$cinderella                                 : #fde7e2;
$caribbean-green                            : #00cc72;
$cinnabar                                   : #e95c3c;
$dixie                                      : #e8a518;
$selago                                     : #fafbfe;
$aqua-haze                                  : #ebeff4;
$oslo-gray                                  : #919798;
$geyser                                     : #dee2e6;
$alabaster                                  : #fafafa;
$alto                                       : #dddddd;
$gray-cahteau                               : #a6adaf;
$aqua-haze-appx                             : #f3f7f8;


$base-min-width                              : 1024px;

$base-padding-x                              : 1.25rem;
$base-padding-lg-x                           : 2rem;
$base-padding-xl-x                           : 3.5rem;

$color-black1                                : #2c2c2c;
$color-black5                                : #2f2f2f;

$color-blue1                                 : #3594ba;

$color-gray1                                 : #707070;
$color-gray2                                 : #f5f5f5;
$color-gray3                                 : rgba(#094A43, 0.65);
$color-gray4                                 : #BCBCBC;
$color-gray5                                 : #919191;
$color-gray6                                 : #c6c6c6;

$color-brown1                                : #a64129;

$color-blue-border                           : #A8DEE3;
$color-red-border                            : #F6CAC7;
$color-grey-border                           : #DCDCDC;
$martinique                                  : #28264B;
$mercury                                     : #E4E4E4;
$iron                                        : #dbdddd;
$silver-chalice                              : #adadad; 
$gun-powder                                  : #464661; 
$tundoura                                    : #474747;

$menu-opener-transition                      : opacity 0.25s linear, transform 0.25s linear;





// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$body-bg                                    : $alice-blue;
$body-color                                 : $dark;

$link-color                                 : #0044FF;
$link-hover-color                           : $link-color;

$font-family-sans-serif:                      "Lato", "Helvetica Neue", Arial, sans-serif ;
$font-family-base:                            $font-family-sans-serif;

$font-size-base                             : 12px;
$line-height-base                           : 1.5;

$brand-primary                              : $primary !default;
// $brand-success                              : $green !default;
// $brand-info                                 : $teal !default;
$brand-warning                              : $orange !default;
// $brand-danger                               : $red !default;
// $brand-inverse                              : $gray-dark !default;

$grid-gutter-width                          : 30px; 

$border-radius-sm                           : .125rem;

$paragraph-margin-bottom                    : 1.25rem;

$h1-font-size                               : 1.75rem;
$h2-font-size                               : 1.125rem;
$h3-font-size                               : 1.0625rem;

$headings-font-weight                       : 700;

$headings-font-family                       : $font-family-sans-serif ;

// Buttons

$btn-font-weight                            : 500;

// Buttons + Forms

$input-bg                                   : transparent;

$input-btn-padding-y                        : 1.125rem;
$input-btn-padding-x                        : 2.5rem;
$input-btn-font-size                        : 0.9375rem;
$input-btn-line-height                      : 1.3;

$input-btn-padding-y-sm                     : .625rem;
$input-btn-padding-x-sm                     : 1.125rem;
$input-btn-font-size-sm                     : $input-btn-font-size;
$input-btn-line-height-sm                   : $input-btn-line-height;

$input-focus-border-color                   : $dark;
$input-focus-box-shadow                     : none;

$input-border-radius                        : 0;

// Forms

$input-padding-y                            : 0.625rem;
$input-padding-x                            : $input-btn-padding-x-sm;
$input-font-size                            : 1rem;
$input-font-weight                          : 300;
$input-line-height                          : 1.25;

$input-color                                : $dark;
$input-border-color                         : $dark;
$input-border-width                         : 2px;
$input-box-shadow                           : none;

$input-plaintext-color                      : $dark;

$input-height                               : 2.625rem;

$custom-control-indicator-size              : 1.25rem;

$custom-checkbox-indicator-border-radius    : 0.125rem;
$input-color-placeholder                    : $gray-cahteau;

// Modals

$modal-inner-padding                        : 1.5rem;
$modal-content-border-radius                : 0;
$modal-header-padding-y                     : 1.5rem;
$modal-header-padding-x                     : 1.5rem;
$modal-header-border-width                  : 0;
$modal-footer-border-width                  : 0;

$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ),
  $grid-breakpoints
);

$container-max-widths: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
  (
    sm: 100%,
    md: 100%,
    lg: 1020px,
    xl: 1200px
  ),
  $container-max-widths
);
