{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col text-center"><h4>{{teacher.first_name}} {{teacher.last_name}}</h4></div>
</div>
<hr/>
<h6 class="text-center alert dashboard-alert-blue dashboard-leaf text-uppercase">Profile Details</h6><!-- @@ changed to alert-secondary, added text-uppercase -->
<div class="row">
    <div class="col">
        <div class="col">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th>First Name</th>
                <td>{{teacher.first_name}}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{teacher.last_name}}</td>
            </tr>
            <tr>
                <th>Profile Picture</th>
                <td>{{teacher.profile_picture}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{teacher.email}}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{teacher.phone_number}}</td>
            </tr>
            <tr>
                <th>Room Number</th>
                <td>{{teacher.room_number}}</td>
            </tr>
            <tr>
                <th>Subject Taught</th>
                <td>{{teacher.subjects_taught}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}
