body{
  min-width: 1024px;
}

#wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.dashboard-block{
  
  h2{
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px;
  }
}

.dashboard-holder{
  background: $white;
  box-shadow: 0 0 15px 0 rgba($black , 0.06);
  border-radius: 10px;
}

.two-cols{
  .col-5{
    border-left: 1px solid $gallery;
  }
}